nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark
  a.navbar-brand(href='#') Navbar
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarNav.collapse.navbar-collapse
    ul.navbar-nav
      li.nav-item
        a.nav-link(href='/') Home
      li.nav-item
        a.nav-link(href='/temario') Temario
      li.nav-item
        a.nav-link(href='/josemanuel') Usuario (josemanuel)

main(role='main')
  .jumbotron
    .container
      h1.display-3 NodeJS
      p Curso NodeJS de Open Webinars en el que aprenderás cómo funciona Node.js, y su gestor de paquetes NPM, y desarrollaremos nuestro propia web, utilizando los mecanismos que nos ofrece Node.js, para luego, pasar a utilizar Express para desarrollar nuestra web, y nuestra API Rest.

