html
  head
    title!= title
  body
    h2 Introducción a Node.js
      li ¿Qué es Node.js?
      li ¿Y NPM?
      li ¿Qué podemos hacer con Node.js?
      li Características de Node.js
      li  Instalación
      li Comunidad y ecosistema
      li Hola Mundo!

    h2 Ecmascript
      li Nuevas features
      li Babel

    h2 Node.js
      li Manejo de eventos
      li Programación asíncrona
      li Modularización
      li Introducción a Sockets
      li Manejo de errores
      li Nodemon

    h2 Nuestro primer servidor web
      li Módulo HTTP
      li Un servidor básico
      li El objeto response
      li Encabezados
      li Nuestra home!
      li Vitaminémos nuestra home!

    h2 Conexión a base de datos
      li MongoDB
      li PostgresSQL

    h2 Express
      li ¿Qué es Express?
      li Un poco de historia, y comunidad
      li Middlewares

    h2 Renderizado desde el servidor
      li Nuestro primer servidor
      li Configuremos nuestro servidor
      li Trabajando con templates
      li Routing
      li Layouts
      li Ficheros estáticos
      li Rutas parametrizables
      li Manejo de errores en express
      li Modularización
      li Testing de nuestra web

    h2 Nuestra primera Rest
      li ¿Qué es REST?
      li Nuestro primer servidor
      li Configuremos nuestra API
      li Configurando el entorno (dev o prod)
      li Routing
      li Modularización
      li Securizando nuestra API
      li Testeando nuestra API Rest!

    h2 Sockets!
      li ¿Qué es, y para qué sirven los sockets?
      li Implementación básica

    h2 Producción
      li Despleguemos nuestra web/API!

    h2 Bonus!
      li Dockerizando nuestro servidor!
